body {
  background-color: white;
  text-decoration: none;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-size: large;
}
header h1 {
  background-color: #495057;
  padding: 16px 0px;
  margin: 0px;
  color: white;
  font-style: italic;
}

a {
  text-decoration: none;
}
