footer {
  background-color: black;
  height: 100%;
  color: white;
  margin-top: 26px;
  margin-bottom: -16px;
  ul {
    list-style: none;
    border-bottom: azure solid 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 30px;
    li a {
      color: white;
    }
  }
}
